git+https://github.com/huggingface/transformers.git
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cpu

tensorflow
scipy
IPython

psycopg2-binary
pydantic
uvicorn
databases
fastapi
SQLAlchemy

pydub